body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #12284B;
  background-color: #061218;
}

.logo {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 0;

}

.plt_img {
    position: relative;
    width: 95%;
}

/*
 * Formatting the header area
 */
header {
  background-color: #061218;
  height: 90px;
  width: 72.5%;
  margin-bottom: 0;
  z-index: -1000;
  margin-left: 323px;
  position: fixed;
}

header h1.pagetitle {
  font-size: 32px;
  color: #cdd0db;
  z-index: -1;
  text-align: left;
}

/*
 * Centering the body content
 */
.container {
  max-width: 100%;
  width: 100%;
  margin: 0;
}
div.home {
  position: absolute;
  padding: 10px 0 10px 0;
  background-color: #292d33;
  color: #cdd0db;
  text-align: center;
  width: 100%;
  top: 90px;
}


.site_button {
  margin: 1.5px 0px;
  padding: 15px 0px;
  color: #12284b;
  background-color: #0099d6;
  width: 150px;
  display: inline-block;
  border: 5px solid;
  border-color: #12284b;
  cursor: pointer;
  font-weight: bold;
}

.site_button:hover {
  background-color: #12284b;
  border-color: #12284b;
  color: #cdd0db;
}

.plots {
  padding: 10px 0 10px 0;
  background-color: #292d33;
  color: #cdd0db;
  text-align: center;
  width: 80%;
  max-width: 85%;
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  position: absolute;
  margin-left: 17%;
  min-width: 80%;
  top: 90px;
  z-index: 1;
}

.plots.reportinfo {
  padding: 10px 0 10px 0;
  background-color: #292d33;
  color: #cdd0db;
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  min-width: 100%;
  z-index: 1000;
  position: relative;
  text-decoration: none;
  margin-left: 0px;

}

.reporttitle {
  margin: 0;
  text-align: left;
  width: 48%;
  display: inline-block;
  color: #cdd0db;
  font-size: 32px;
  font-weight: bold;
}

.reporttitle.dates {
  text-align: right;

}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

img.relative {
  position: relative
}

.fixed_div {
  position: fixed;
  top: 90px;
  margin-left: 5px;
  width: 15%;
  background-color: #292d33;
  font-size: 18px;
  height: 1000px
}

.nav_major_key{
  font-size: 100%;
  color: #cdd0db;
  margin-bottom: 0;
}

.nav_minor_key{
  font-size: 80%;
  color: #cdd0db;
  margin-left: 7%;
  margin-bottom: 0;
}

.warning_text {
  font-size: 100%;
  color: #F04C24
  }

.test_div {
  padding: 10px 0 10px 0;
  background-color: #292d33;
  color: #cdd0db;
  text-align: center;
  width: 80%;
  max-width: 85%;
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  position: absolute;
  margin-left: 17%;
  min-width: 80%;
  height: 5000px;
}