{% extends "layout.html" %}
{% block title %}
<h1 class="pagetitle"><strong>Performance Report Configuration</strong></h1>
{% endblock %}

{% block content %}
<div class="home">
    <h1 class="site_name"><strong>
       {{ site }}
    </strong></h1>
  <div class = "home">
      <h1 class="site_name" style="text-decoration: none">
       {{ sdate }} to {{ edate }}
      </h1>
  </div>
  <div class = "home">
      <h1 class="site_name" style="text-decoration: none">
       Generate Report
      </h1>
        <form>
            {% for report in report_list %}
                <button class="site_button" type="submit" name="report_choice" value="{{ report }}">{{ report }}</button>
            {% endfor %}
        </form>
      <p class="warning_text">Generating this report will take several minutes</p>
  </div>
</div>
{% endblock %}