{% extends "layout.html" %}

{% block title %}
<h1 class="pagetitle"><strong>Performance Report Configuration</strong></h1>
{% endblock %}

{% block content %}
<div class="home">
    <h1 class="site_name"><strong>
       {{ site }}
    </strong></h1>
  <div class = "home">
    <h1><strong>Select Dates</strong></h1>
    <form action="" method="post">
      <h2>
        Start Date: {{ dform.start_date() }}
        End Date: {{ dform.end_date() }}
        <p></p>
        {{ dform.submit_button() }}
      </h2>
    </form>

  </div>
</div>
 {% endblock %}