{% extends "layout.html" %}
{% block title %}
<h1 class="pagetitle"><strong>Performance Report Configuration</strong></h1>
{% endblock %}

{% block content %}
  <div class="home">
    <h1><strong>Select a Site</strong></h1>
        <div class="home">
          {% for site in site_list %}
            <a class="site_button" href="{{ url_for('date', site = site ) }} ">{{site }}</a>
          {% endfor%}
        </div>
  </div>
{% endblock %}