<!--Created by William Machamer 12/2020 for Clyde Industries, Inc.-->

<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Clyde Industries Performance Report Generator</title>
  </head>
  <body>
    <a href="{{ url_for('home') }}">
      <img class="logo" src="{{url_for('static', filename='Clyde_Small_Transparent2.png')}}"/>
    </a>
    <header>

      <div class="container">
        {% block title %}
        {% endblock %}

      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    {% block reportpage %}
    {% endblock %}
  </body>
</html>
