{% extends "layout.html" %}
{% block title %}
<h1 class="pagetitle"><strong>Performance Report</strong></h1>
<p class="reporttitle">{{ site }}</p><p class="reporttitle dates">{{ sdate }} to {{ edate }}</p>

{% endblock %}


{% block content %}

  <div class="plots">

    {% for key in fig_dict %}
      <a id="{{ key }}">
        <p>{{ key }}</p>
      </a>
      {% for k2 in fig_dict[key] %}
      <a id="{{ k2 }}">
        <p name="{{ k2 }}">{{ k2 }}</p>
          <img class="plt_img" src="data:image/png;base64,{{ fig_dict[key][k2] }}"/>
          <p></p>
      </a>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}

{% block reportpage %}
<div class="container">
  <div class="fixed_div">
      {% for k in fig_dict %}
        <a href="#{{ k }}">
        <p class="nav_major_key">{{ k }}</p>
        </a>
          {% for k2 in fig_dict[k] %}
            <a href="#{{ k2 }}">
            <p class="nav_minor_key">{{ k2 }}</p>
            </a>
          {% endfor %}
      {% endfor %}
    </p>
  </div>
</div>
{% endblock %}
