{% extends "layout.html" %}
{% block title %}
This is my typing
{% endblock %}

{% block content %}
{% endblock %}
{% block reportpage %}
<div class="container">
    <div class="fixed_div">
      {% for k in test_dict %}
        <a href="#{{ k }}">
        <p class="nav_major_key">{{ k }}</p>
        </a>
          {% for k2 in test_dict[k] %}
            <a href="#{{ k2 }}">
            <p class="nav_minor_key">{{ k2 }}</p>
            </a>
          {% endfor %}
      {% endfor %}
    </div>
</div>
<div class="plots" style="height: 2000px"></div>

{% endblock %}
